# __pycache__
__pycache__/


.venv/

# .env
.env

# .DS_Store
.DS_Store

# .pytest_cache
.pytest_cache/

# Data (exceptions for tracked CSVs)
data/*
!data/objects/
data/objects/*
!data/objects/*.csv
!data/objects/README.md
!data/geo/
data/geo/*
!data/geo/top_10_pop_cities.csv
!data/geo/top_20_pop_cities.csv
!data/geo/top_40_pop_cities.csv
!data/geo/top_160_pop_cities.csv
!data/geo/cities_pops.csv
!data/diseases/
data/diseases/*
!data/diseases/diseases_full.csv
!data/diseases/diseases_160.csv
!data/diseases/diseases_test.csv
!data/diseases/README.md

# Output
output/
output*/

# Logs
logs/

# Deprecated
deprecated/

# egg-info
*egg-info/

.conda/
.vscode/

project/

outputs/

.deps/